//
   Created by lan on 12/20/15.

extends layout

block script
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")
    script(src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js") //for background animation
    script(src="/javascripts/setquiz.js")

block content
    input(type="hidden", name="adid", value=adid)
    form#quiz(action="#")
        header
            h2 Advertising Partners Portal
            div Quiz Table (AD id = #{adid})
        div
            table
                thead
                    tr
                        th
                            div Question
                            div: input(name="newQ", placeholder="Enter a question")
                        th
                            div Choices
                            div: input(name="newC", placeholder="1:Choice1|2:Choice2...", title="Pack the choices in specified format.")
                        th
                            div Answer
                            div: input(name="newA", placeholder="Enter right choice number")
                        th
                            div Points
                            div: input(name="newP" placeholder="Enter points")
                        th
                            div Action
                            div: input(type="button" id="addNewQ" value="Add")
                tbody
                    tr

