extends layout

block script
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")
    script(src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js") //for background animation
    script(src="/javascripts/takequiz.js")
block content
    form#quiz(action="#")
        header
            h2 Quiz Time
            div Answer these ad-based questions and earn your rewards
        div#questions
            - for(var i = 0; i < r.length; i++) {
            div.question
                div= r[i].q
                - var choices = r[i].choices.split("|");
                - for(var c = 0; c < choices.length; c++) {
                -   var ch = choices[c].split(":"); var cde = ch[0]; var txt = ch[1];
                    div
                        input(type="radio", id="ans"+i+c, name="ans"+i, value=cde)
                        label(for="ans"+i+c)= txt
                - }
                input(type="hidden" name="a"+i value=r[i].a)
                input(type="hidden" name="qaid"+i value=r[i].qaid)
                input(type="hidden" name="points"+i value=r[i].points)
            - }
            // following are not just for display, used by javascript logic to track
            span(id="curr")
            span /
            span(id="total")= r.length
            input(type="button", id="submit", value="Submit")
    div#result
        span You have earned&nbsp;
        span#p
        span &nbsp;points!
